/*variables para fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400;1,900&display=swap");
.bodyPrincipal {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.typeLato900 {
  font-weight: 900;
  font-size: 5rem; }

.typeLato400 {
  font-weight: 400;
  font-size: 3rem; }

.typeLato300 {
  font-weight: 300;
  font-size: 2rem; }

/*estilos para index*/
#mainIndex {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@keyframes logoAnimado {
  0% {
    transform: rotate(-5deg); }
  25% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-10deg); }
  75% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(-5deg); } }

#logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center; }
  #logo img {
    width: 135px;
    height: 85px;
    animation-name: logoAnimado;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 0;
    margin-right: 10px; }

.nav-item {
  margin-right: 20px; }

/*estilos para index*/
/*estilos header general*/
#headerGeneral .navbar-brand {
  display: flex;
  align-items: baseline; }

#headerGeneral .navbar-brand img {
  width: 80px;
  height: 57px;
  margin-right: 10px; }

#headerGeneral .navbar-brand .typeLato900 {
  font-size: 4rem; }

#headerGeneral #navbarNavDropdown {
  justify-content: flex-end; }

/*estilos footer general*/
#footer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  #footer img {
    width: 70px;
    height: auto;
    margin: 0px 20px; }

/*estilos para portfolio-dron*/
.bodyPrincipal {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.mainPrincipal {
  background-color: #fff;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px 20px; }

h2 {
  box-shadow: 5px 5px 20px #000;
  padding-left: 20px;
  border: 2px solid #000;
  border-radius: 20px;
  font-size: 3rem; }

iframe {
  border-radius: 20px;
  box-shadow: 5px 5px 20px #000; }

.flechaArriba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .flechaArriba img {
    width: 50px; }

.seccion1 {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly; }
  .seccion1 img {
    width: 330px;
    height: 490px;
    border-radius: 25px;
    box-shadow: 5px 5px 20px #000;
    margin-left: 20px; }
  .seccion1 .imgSeccion1 {
    padding: 10px; }
  .seccion1 .txtSeccion1 {
    width: 360px;
    align-self: center;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px 5px 20px #000; }

.seccion2 {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 30px;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center; }
  .seccion2 .seccion2a {
    display: flex;
    flex-direction: row; }
    .seccion2 .seccion2a iframe {
      height: 100%;
      margin: 0 20px; }
    .seccion2 .seccion2a .txtSeccion2a {
      width: 360px;
      align-self: center;
      border-radius: 25px;
      padding: 20px;
      box-shadow: 5px 5px 20px #000;
      text-align: center; }
  .seccion2 .seccion2b {
    display: flex;
    flex-direction: row; }
    .seccion2 .seccion2b iframe {
      height: 100%;
      margin: 0 20px; }
    .seccion2 .seccion2b .txtSeccion2b {
      width: 360px;
      align-self: center;
      border-radius: 25px;
      padding: 20px;
      box-shadow: 5px 5px 20px #000;
      text-align: center; }

.seccion3 {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 30px;
  width: 100%;
  height: 550px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center; }
  .seccion3 iframe {
    width: 77%;
    height: auto;
    margin-right: 20px; }
  .seccion3 .txtSeccion3 {
    width: 360px;
    align-self: center;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px 5px 20px #000;
    text-align: center; }

/*estilos para portfolio-paisaje*/
.seccion1Pai {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 30px; }
  .seccion1Pai img {
    width: 100%;
    border-radius: 25px;
    box-shadow: 5px 5px 20px #000; }

.seccion2Pai {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .seccion2Pai iframe {
    width: 64%;
    height: 500px; }
  .seccion2Pai .txtSeccion2Pai {
    width: 360px;
    align-self: center;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px 5px 20px #000; }

.seccion3Pai {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .seccion3Pai iframe {
    width: 64%;
    height: 500px; }
  .seccion3Pai .txtSeccion3Pai {
    width: 360px;
    align-self: center;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px 5px 20px #000; }

/*estilos para portfolio-producto*/
.seccion1Pro {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .seccion1Pro .txtSeccion1Pro {
    width: 360px;
    align-self: center;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px 5px 20px #000; }

/*estilos para portfolio-musical*/
.seccion1Mus {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px; }
  .seccion1Mus #carouselExampleFade {
    width: 610px;
    height: 610px;
    box-shadow: 5px 5px 20px #000;
    border-radius: 30px; }
  .seccion1Mus img {
    border-radius: 25px; }

.txtSeccion1Mus {
  width: 360px;
  align-self: center;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 5px 5px 20px #000; }

.seccion2Mus {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .seccion2Mus .txtSeccion2Mus {
    width: 360px;
    align-self: center;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px 5px 20px #000; }

/*estilos para sobre_mi*/
.seccion1Sob {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px; }
  .seccion1Sob .carouselSobreMi {
    width: 60%;
    align-self: center;
    padding: 10px;
    border-radius: 25px; }
  .seccion1Sob .txtSeccion1Sob {
    width: 360px;
    align-self: center;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px 5px 20px #000; }
  .seccion1Sob .carousel-inner {
    border-radius: 25px; }

/*estilos para formulario*/
.formulario {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 650px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px #000; }
  .formulario form {
    border: 2px solid #000;
    display: grid;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #000; }
