@import "variables";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400;1,900&display=swap');

body{
	@include bodyPrincipal;
}
.typeLato900{
	font-weight: $font_900;
	font-size: 5vw;
}
.typeLato400{
	font-weight: $font_400;
	font-size: 3em;
}
.typeLato300{
	font-weight: $font_300;
	font-size: 2em;
}
/*estilos para index*/
#mainIndex{
	width: 100%;
	height: 600px;
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@keyframes logoAnimado{
	0%{
		transform: rotate(-5deg);
	}
	25%{
		transform: rotate(10deg);
	}
	50%{
		transform: rotate(-10deg);
	}
	75%{
		transform: rotate(10deg);
	}
	100%{
		transform: rotate(-5deg);
	}
}
#logo{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    	img{
		width: 135px;
		height: 85px;
		animation-name: logoAnimado;
		animation-iteration-count: infinite;
		animation-duration: 3s;
		animation-delay: 0;
		margin-right: 10px;
		}
}
.nav-item{
	margin-right: 20px;
}
/*estilos para index*/

/*estilos header general*/
header{
	width: 100%;
	height: auto;
.navbar-brand{
	display: flex;
	align-items: baseline;
	margin-right: 0;
	}
.navbar-brand img{
	width: 100px;
	height: 70px;
	margin-right: 10px;
	}
.navbar-brand .typeLato900{
	font-size: 5vw;
	}
#navbarNavDropdown{
	justify-content: flex-end;
	}
}
/*estilos footer general*/
footer{
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	a:hover{
		transform: scale(1.2);
	}
		img{
			width: 70px;
			height: auto;
			margin: 0px 20px;
		}
}

/*estilos para portfolio-dron*/
.bodyPrincipal{
	@include bodyPrincipal;
}
.mainPrincipal{
	@include mainPrincipal;
	form{
	border: 1px solid;
	border-radius: 10px;
	box-shadow: $box-sh;
	padding: 20px;
}
}
.titulo{
	@include titulo;
}
iframe{
	@include iframe;
}
.imgStyle{
	border-radius:10px;
	box-shadow:$box-sh;
}
.flechaArriba{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a:hover{
		transform: scale(1.2);
	}
    	img{
    		width: 50px;
    	}
}
.seccion1{
	@include seccion;
	width: 100%;
	height: auto;
	padding: 1px;
		video{
			border-radius: 10px;
		}
	.imgSeccion1{
	padding: 10px;
	}
.card{
	border: none;
	a:hover{
		transform: scale(1.2);
	}
	.card-body{
		border: 1px solid;
		border-radius: 10px;
		margin: 20px 0px;
		box-shadow: $box-sh;
	}
}
.cardBk{
	color: #fff;
	background-color: #000;
}
.card-body.cardNoMargin{
	margin-top: 0px;
}
.img-fluid {
    max-width: 20%;
    height: auto;
}
/*estilos para formulario*/

/*.formulario{
	@include seccion;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 650px;
	padding: 50px;
	border-radius: 20px;
	box-shadow: $box-sh;
		form{
		border: 2px solid #000;
		display: grid;
		padding: 20px;
		border-radius: 20px;
		box-shadow: $box-sh;
		}
}*/
@media screen and (max-width: 1200px){
	header .navbar-brand .typeLato900 {
	    font-size: 5vw;
	  	}

}
@media screen and (max-width: 992px){
	/*header .navbar-brand .typeLato900{
		font-size: 3em;
		}*/
}

@media screen and (max-width: 768px){
	
	/*header.navbar-brand.typeLato900 {
	    font-size: 3em;
	  	}*/
}

@media screen and (max-width: 576px){
	
/*header.navbar-brand.typeLato900 {
    font-size: 7vw;
	}*/
}
}